Repository sofiia-chorna/cookbook: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

feat: process recipe create on server
  client/src/store/recipe/actions.js
  client/src/store/recipe/common.js
  client/src/store/recipe/reducer.js
  server/package-lock.json
  server/package.json
  server/src/api/recipe/recipe.api.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/recipe-content/recipe-content.model.js
  server/src/data/repositories/recipe/recipe.repository.js
  server/src/helpers/helpers.js
  server/src/helpers/http/get-error-status-code/get-error-status-code.helper.js
  server/src/helpers/http/http.js
  server/src/helpers/uuid/generate-uuid/generate-uuid.helper.js
  server/src/helpers/uuid/uuid.js
  server/src/services/recipe/recipe.service.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:server:js

feat: process create recipe
  client/src/store/recipe/reducer.js
  server/src/data/repositories/recipe-contents/recipe-contents.repository.js
  server/src/data/repositories/recipe/recipe.repository.js
  server/src/data/repositories/repositories.js
  server/src/services/recipe/recipe.service.js
  server/src/services/services.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:server:js

feat: show expanded recipe
  client/src/components/common/common.js
  client/src/components/common/form-field/form-field.jsx
  client/src/components/recipes/components/components.js
  client/src/components/recipes/components/expanded-recipe/expanded-recipe.jsx
  client/src/components/recipes/components/item/item.jsx
  client/src/components/recipes/recipes.jsx
  client/src/services/recipe/recipe.service.js
  client/src/store/recipe/actions.js
  client/src/store/recipe/common.js
  client/src/store/recipe/reducer.js
  server/src/api/recipe/recipe.api.js
  server/src/services/recipe/recipe.service.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:server:js

feat: add editing
  client/src/common/enums/app/app-route.enum.js
  client/src/common/enums/components/components.js
  client/src/common/enums/components/icon-name.enum.js
  client/src/common/enums/components/image-size.enum.js
  client/src/common/enums/enums.js
  client/src/components/app.jsx
  client/src/components/common/common.js
  client/src/components/common/form-field/form-field.jsx
  client/src/components/common/icon-button/icon-button.jsx
  client/src/components/common/icon-button/styles.module.scss
  client/src/components/common/icon/common.js
  client/src/components/common/input-modal/input-modal.jsx
  client/src/components/common/public-route/public-route.jsx
  client/src/components/common/recipe-modal/recipe-modal.jsx
  client/src/components/recipe/recipe.jsx
  client/src/components/recipe/styles.module.scss
  client/src/components/recipes/components/components.js
  client/src/components/recipes/components/container/container.jsx
  client/src/components/recipes/components/container/styles.module.scss
  client/src/components/recipes/components/expanded-recipe/expanded-recipe.jsx
  client/src/components/recipes/components/item/item.jsx
  client/src/components/recipes/components/item/styles.module.scss
  client/src/components/recipes/recipes.jsx
  client/src/helpers/helpers.js
  client/src/helpers/route/replace-id-param-and-version/replace-id-param.helper.js
  client/src/helpers/route/replace-id-param/replace-id-param.helper.js
  client/src/helpers/route/route.js
  client/src/hooks/hooks.js
  client/src/store/recipe/actions.js
  client/src/store/recipe/common.js
  client/src/store/recipe/reducer.js
  server/src/data/repositories/recipe/recipe.repository.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

feat: implement version in server
  client/src/common/enums/app/app-route.enum.js
  client/src/common/prop-types/recipe.js
  client/src/common/prop-types/user.js
  client/src/components/common/recipe-modal/recipe-modal.jsx
  client/src/components/recipe/components/components.js
  client/src/components/recipe/components/version-dropdown/styles.module.scss
  client/src/components/recipe/components/version-dropdown/version-dropdown.jsx
  client/src/components/recipe/components/version-item/blue-circle/blue-circle.jsx
  client/src/components/recipe/components/version-item/blue-circle/styles.module.scss
  client/src/components/recipe/components/version-item/styles.module.scss
  client/src/components/recipe/components/version-item/version-item.jsx
  client/src/components/recipe/recipe.jsx
  client/src/hooks/hooks.js
  client/src/services/recipe/recipe.service.js
  client/src/store/recipe/actions.js
  client/src/store/recipe/common.js
  client/src/store/recipe/reducer.js
  server/.env.example
  server/src/api/recipe/recipe.api.js
  server/src/data/repositories/recipe-contents/recipe-contents.repository.js
  server/src/data/repositories/recipe/recipe.repository.js
  server/src/services/recipe/recipe.service.js
  shared/src/common/enums/api/recipes-api-path.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

fix: set null if recipe not yet loaded
  client/src/components/recipe/components/version-item/version-item.jsx
  client/src/components/recipe/recipe.jsx
  client/src/components/recipes/common/constants.js
  client/src/store/recipe/reducer.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

fix: update versions
  client/src/components/recipe/components/version-dropdown/version-dropdown.jsx
  client/src/components/recipe/components/version-item/version-item.jsx
  client/src/components/recipe/recipe.jsx
  client/src/helpers/version-date/get-formatted-version-date/get-formatted-version-date.helper.js
  client/src/store/recipe/actions.js
  server/src/services/recipe/recipe.service.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:server:js

patch: unify code style
  client/src/services/http/http.service.js
  client/src/services/services.js
  client/src/services/storage/storage.service.js
  client/src/store/store.js
  client/src/styles/variables.scss
  server/package.json
  server/src/common/enums/api/api.js
  server/src/common/enums/api/controller-hook.enum.js
  server/src/common/enums/enums.js
  server/src/common/enums/exception/exception.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/recipe-content/recipe-content.model.js
  server/src/data/models/recipe/recipe.model.js
  shared/src/common/enums/enums.js
  shared/src/common/enums/http/http-code.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

fix: disable editing not the latest version
  client/src/assets/css/styles.scss
  client/src/components/recipe/recipe.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css

fix: improved styles, merged components
  client/src/assets/css/styles.scss
  client/src/components/common/common.js
  client/src/components/common/input-modal/input-modal.jsx
  client/src/components/common/input-modal/styles.module.scss
  client/src/components/common/modal/hooks/hooks.js
  client/src/components/common/modal/hooks/use-modal/use-modal.hook.js
  client/src/components/common/modal/modal.jsx
  client/src/components/common/modal/styles.module.scss
  client/src/components/common/portal/portal.jsx
  client/src/components/common/portal/styles.module.scss
  client/src/components/recipe/components/version-dropdown/styles.module.scss
  client/src/components/recipe/components/version-dropdown/version-dropdown.jsx
  client/src/components/recipe/components/version-item/version-item.jsx
  client/src/components/recipe/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css

updated readme, deleted unnecessary extension
  README.md
  client/package.json
  client/src/components/recipes/recipes.jsx
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

fix: reset values
  client/src/components/common/constants/constants.js
  client/src/components/common/recipe-modal/recipe-modal.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Revert "fix: reset values"
  client/src/components/common/constants/constants.js
  client/src/components/common/recipe-modal/recipe-modal.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

feat: increase rules
  shared/src/common/enums/validation/recipe-validation-rule.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

fix: circular imports
  client/src/components/recipes/components/components.js
  client/src/components/recipes/components/container/container.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

docs: add env port example
  server/.env.example
Due: npm run lint:editorconfig && npm run lint:fs

add comments, fix dialog mobile style
  client/src/assets/css/styles.scss
  client/src/components/common/input-modal/input-modal.jsx
  client/src/components/common/recipe-modal/recipe-modal.jsx
  client/src/components/recipe/components/version-dropdown/version-dropdown.jsx
  client/src/components/recipe/recipe.jsx
  client/src/components/recipe/styles.module.scss
  client/src/components/recipes/recipes.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css

patch: increase number of rows in input
  client/src/components/common/input-modal/input-modal.jsx
  client/src/components/recipe/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css

patch: delete comments, space
  client/src/components/recipes/components/create-button/styles.module.scss
  server/src/common/enums/app/env.enum.js
  server/src/data/repositories/recipe/recipe.repository.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css, npm run lint:server:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.js
  npm run lint:client:js: any of: client/src/**/*.{js,jsx}
  npm run lint:client:css: any of: client/src/**/*.scss
  npm run lint:server:js: any of: server/**/*.js
